@font-face {
    font-family: RegularOpen;
    src: url('OpenSans-Regular.ttf');
}
* {
    margin: 0px;
    -webkit-user-select: none;
}
body {
    font-family: RegularOpen;
    background-color: #000000;
}
#noti {
    position: fixed;
    background-color: rgb(33, 150, 243);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 10px;
    top: 78px;
    right: 20px;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    z-index: 99999999;
    display: none;
    text-align: center;
}
#bar {
    bottom: 0px;
    position: absolute;
    height: 92px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.controlls {
    opacity: 1;
    color: white;
    text-align: center;
}
.center {
    position: absolute;
    top: 50%;
    left: 47%;
    width: 100%;
    transform: translate(-50%, -50%);
}
.fa {
    margin-left: 6%;
    cursor: pointer;
}
.holder {
    opacity: 0;
    background-color: black;
    position: absolute;
    height: 75.5%;
    width: 100%;
    top: 27px;
    color: white;
}
.holder-show {
    border: 3px dashed #56557d;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    height: 75%;
    width: 99.5%;
    top: 27px;
    color: white;
    z-index: 99999
}
#text-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#filename {
    color: white;
    top: 43.1%;
    left: 34%;
    font-size: 1.3em;
    position: absolute;
    width: 74%;
    word-wrap: break-word;
}
#subtitles-name {
    color: white;
    top: 11%;
    left: 84px;
    font-size: 1.3em;
    position: absolute;
    width: 49%;
    word-wrap: break-word;
    z-index: 9999;
}
#subSelect,
option {
    background: rgba(0, 0, 0, 1);
    color: white;
    max-width: 47%;
    border:0px;
    outline:0px;
}
#videoFile {
    color: white;
    top: 43%;
    position: absolute;
    left: 29%;
    margin-left: 0px;
}
#subFile {
    color: white;
    top: 11%;
    position: absolute;
    left: 46px;
    margin-left: 0px;
}
#chromecastIcon {
    color: white;
    top: 41%;
    position: absolute;
    left: 46px;
    margin-left: 0px;
}
#chromecastIcon-big {
    color: white;
    top: 28%;
    position: absolute;
    left: 46px;
    width: 11%;
    margin-left: -37px;
    border-radius: 50%;
    z-index: 99999;
}
.ChromecastDevice-big {
    font-size: 1.1em;
    width: 100%;
    text-align: center;
}
.status-loading {
    color: white;
    font-size: 1.7em;
    position: absolute;
    top: 38%;
    left: 61%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 0%;
    z-index: 99999;
}
.status-loaded {
    color: white;
    /* font-size: 1.3em; */
    
    position: absolute;
    top: 11%;
    left: 95%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 0%;
}
#playList {
    top: 24%;
    position: absolute;
    z-index: 9999;
    color: white;
    width: 94%;
    height: 55%;
    overflow-y: auto;
    overflow-x: hidden;
}
#playList li {
    background: rgba(255, 255, 255, 0.11);
    margin: 0 0 3px 0;
    padding: 6px;
    cursor: pointer;
}
#playList li:hover {
    background: rgba(255, 255, 255, 0.34);
}
.selected {
    background: rgba(255, 255, 255, 0.34)!important;
}
#ChromecastDevice {
    color: white;
    top: 3px;
    left: 82px;
    position: absolute;
    width: 100%;
    z-index: 99999;
}
.delfromplaylist {
    position: absolute;
    right: 20px;
    margin-top: 4px;
    opacity: 0.2;
}
.delfromplaylist:hover {
    opacity: 1!important;
}

.subtitlefromplaylist{
    position: absolute;
    right: 64px;
    margin-top: 4px;
    opacity: 0.2;
}

.subtitlefromplaylist:hover {
    opacity: 1!important;
}

#pop {
    opacity: 1;
    background-color: black;
    position: absolute;
    height: 75.5%;
    width: 100%;
    top: 27px;
    color: white;
    z-index: 99999;
}
#toolbar {
    color: white;
    background-color: black;
    height: 27px;
    width: 100%;
    position: absolute;
    top: 0px;
    text-align: center;
    -webkit-app-region: drag;
}
#timeStart {
    color: white;
    position: absolute;
    top: 50%;
    left: 37px;
    transform: translate(-50%, -50%);
}
#timeEnd {
    color: white;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(-50%, -50%);
}
#tooltext {
    position: absolute;
    top: 50%;
    left: 47%;
    width: 13%;
    transform: translate(-50%, -50%);
}
#close {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #D32F2F;
    position: inherit;
    right: 8px;
    top: 5px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
#min {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #FFC107;
    position: inherit;
    right: 31px;
    top: 5px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.w3-progress-container {
    width: 100%;
    height: 3px;
}
#progressbar {
    position: absolute;
    bottom: 92px;
}
.fa-plus {
    cursor: default;
}
#oops {
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}
#tryagain:hover {
    background-color: #3995bb;
    transition: background 0.1s linear;
    color: #fff;
}
#tryagain {
    border: solid 2px #3995bb;
    border-radius: 3px;
    padding: 6px 3px;
    text-decoration: none;
    transition: background-color ease .2s;
    text-align: center;
    top: 28%;
    position: relative;
    width: 51%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    cursor: pointer;
}
/*custom scrollbar :P*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(192, 192, 193, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(192, 192, 193, 0.5);
}

#load-subtitles
{
    display: none;
}

#config{
    color: white;
    top: 5.3%;
    position: absolute;
    background-color: rgb(41, 41, 41);
    width: 0%;
    height: 75.6%;
    z-index: 9999;
    text-align: center;
    opacity: 0;
}

#close-config{
    color:white;
    right: 6px;
    position: absolute;
    top: 4px;
}

#open-config{
    position: absolute;
    color: white;
    top: 40px;
    right: 24px;
}

#content-config{
    color:white;
    margin: 20px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #3071a9;
  border-radius: 1.3px;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 9px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

#subtitleInput{
    width: 27px;
    font-size: 10px;
    text-align: center;
    background-color: rgb(70, 69, 69);
    outline: 0px;
    border: 0px;
    color: white;
    position: relative;
}

#subtitles-size{
    margin-top: 41px;
}

#config-subs{
    outline: 0px;
    color: white;
    background-color: rgb(70, 69, 69);
    text-align: center;
    margin-top: 6px;
}

#subsConfigTitle{
    top: 32px;
    position: relative;
}

#version{
    position: absolute;
    bottom: 2px;
    font-size: 10px;
    right: 9px;
    font-style: italic;
    opacity: 0.3;
}